table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	min-width:600px;
}
tr th
{
background-color:#B03060;
color:#FFFFFF;
}
td, th {
   
    text-align:left;
	padding:10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
