{% extends 'admin/base.html' %}
{% load static %}

{% block content %}

  <div id="main">
  <form method="POST" action="">
    {% csrf_token %}
  <table id="registrationTable">
    <tr>
      <td><h2>Add Staff</h2></td>
    </tr>
    <tr>      
      <td><input type="text" placeholder="Name" id="txtName" name="name"></td>
    </tr>
    <tr>      
      <td><input type="email" placeholder="Email" id="txtEmail" name="email"></td>
    </tr>
    <tr>      
      <td><input type="number" placeholder="Phone No" id="txtPhno" name="phno"></td>
    </tr>
    <tr>      
      <td><input type="password" placeholder="Password" id="Password" name="password"></td>
    </tr>
    <tr>      
     
      
      <td>
        <button id="btnRegister">Register</button>
              
      </td>
    </tr>
  </table>
</form>
</div>

{% endblock %}

 
